<p>
  <strong>id:</strong> {{item.id}}<br>
  <strong>title:</strong> {{item.title}}<br>
  <strong>points:</strong> {{item.points}}<br>
  <strong>user:</strong> {{item.user}}<br>
  <strong>time:</strong> {{item.time}}<br>
  <strong>time ago:</strong> {{item.timeAgo}}<br>
  <strong>comments count</strong> {{item.commentsCount}}<br>
  <strong>type</strong> {{item.type}}<br>
  <strong>url</strong> <a href="{{item.url}}">{{item.url}}</a><br>
  <strong>domain</strong> <a href="http://{{item.domain}}">{{item.domain}}</a><br>
</p>
